body {
  transform: scale(0.75);
  overflow-y: hidden;
  padding: 0;
  margin: 0;

}

#gameboard {
  height: 800px;
  width: 800px;
  background-image: url("../img/cage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #d2df99;
  border: 25px solid #84817a;
  position: relative;
  margin-right: 150px;
}

#player {
  position: absolute;
  z-index: 2;
  height: 50px;
  width: 50px;
  background-color: #29ec0f;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.touched {
  animation-name: touched;
  animation-iteration-count: 3;
  animation-duration: 1s;
}

@keyframes touched {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

.bomb {
  height: 50px;
  width: 50px;
  z-index: 3;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: black;
  position: absolute;
  animation: 3s linear blink;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-animation: 3s linear blink;
}
.container
{
  position: relative;
  display: flex;
  justify-content: space-around;
}
.ui
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
@keyframes blink {
  0% {
      background-color: red;
  }

  25% {
      background-color: black;
  }

  50% {
      background-color: red;
  }

  75% {
      background-color: black;
  }

  100% {
      background-color: red;
  }
}

.explosion {
  width: 150px;
  height: 150px;
  background-color: rgba(255, 128, 0);
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.ennemi {
  z-index: 1;
  height: 50px;
  width: 50px;
  position: absolute;
  background-image: url("../img/troll.png");
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);

}

h1{
  font-size: 6rem;
  text-align: center;
  margin-bottom: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
  color: blueviolet;
  font-size: 4.5rem;
}